
@{
    ViewBag.Title = "GraciasInscripcion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="GraciasInscripcion">
    <div class="page-header">

        <div class="card card-register text-center">
            <h2>¡Gracias por unirte a Taiko Córdoba!</h2>
            <p class="text-muted">Tus datos personales se guardaron correctamente en nuestra base de datos.</p>
            <div class="panel panel-danger text-center">
                <div class="panel-heading">Horarios y lugar de práctica</div>
                <div class="panel-body text-danger">Principiantes: miércoles de 16:30 a 18:30</div>
                <div class="panel-body text-danger">Avanzados: sábado de 19:30 a 21:30</div>
                <div class="panel-footer text-darker">Montevideo 517 casi esquina Simón Bolívar. B° Centro.</div>
                <h4>¡Bienvenido!</h4>
            </div>
            @Html.ActionLink("Volver a inicio", "Index", "Home", null, new { @class = "btn btn-danger btn-lg btn-fill" })


        </div>
    </div>
</body>